<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DFBackupAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DFBackupAssistant.Properties.Settings>
            <setting name="PathTo7zaExe" serializeAs="String">
                <value>C:\\7za920\\7za.exe</value>
            </setting>
            <setting name="DFRootFolder" serializeAs="String">
                <value>C:\\LazyNewbPack[0.31.21][V8.5]\\Dwarf Fortress 0.31.21\\</value>
            </setting>
        </DFBackupAssistant.Properties.Settings>
    </userSettings>
</configuration>